
@font-size-base: 14px;
@brand-primary: #6da9c7;
@brand-accent: #aac781;
@brand-success: #6dba6d;
@brand-warning: #e6a953;
@brand-danger: #d65651;
@brand-info: #90d1cb;
@body-bg: @gray-lightest;
@text-color: @gray-dark;
@headings-color: inherit;
@link-color: @brand-primary;
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;
@t3-article-bg: white;
@t3-article-color: @text-color;
@t3-article-link: @link-color;
@t3-article-hover: @link-hover-color;
@t3-article-info-color: @text-muted;
@t3-article-info-link: @link-color;
@t3-article-info-hover: @link-hover-color;
@t3-module-bg: white;
@t3-module-color: inherit;
@t3-module-title-bg: @gray-lighter;
@t3-module-title-color: @t3-module-color;
@t3-module-link-color: @link-color;
@t3-module-link-hover: @link-hover-color;
@t3-header-toolbar-bg: @gray-dark;
@t3-header-bg: @gray;
@t3-header-color: white;
@t3-header-link-color: white;
@t3-header-link-hover: lighten(@t3-header-bg, 30%);
@t3-content-bg: white;
@t3-content-text-color: @text-color;
@navbar-default-bg: #ffffff;
@navbar-default-link-color: @gray;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-hover-color: @gray-dark;
@navbar-default-link-active-bg: #fcfcfc;
@navbar-default-link-active-color: @gray-darker;
@breadcrumb-bg: @gray-lighter;
@breadcrumb-color: #696969;
@breadcrumb-active-color: #a6a6a6;
@t3-top-background: white;
@t3-top-text-color: @text-color;
@t3-top-link-color: inherit;
@t3-top-link-hover: inherit;
@t3-spotlight-background: white;
@t3-spotlight-text-color: @text-color;
@t3-spotlight-link-color: inherit;
@t3-spotlight-link-hover: inherit;
@t3-spotlight-2-background: white;
@t3-spotlight-2-text-color: @text-color;
@t3-spotlight-2-link-color: inherit;
@t3-spotlight-2-link-hover: inherit;
@t3-bottom-background: white;
@t3-bottom-text-color: @text-color;
@t3-bottom-link-color: inherit;
@t3-bottom-link-hover: inherit;
@t3-footer-background: @gray-dark;
@t3-footer-text-color: #ffffff;
@t3-footer-link-color: @gray-light;
@t3-footer-link-hover: #ffffff;
@t3-copyright-background: white;
@t3-copyright-color: @text-color;
@t3-copyright-link-color: @link-color;
@t3-copyright-link-hover: @link-hover-color;
@container-lg: 1170px;
@container-md: 970px;
@container-sm: 750px;
@grid-gutter-width: 30px;