.com_content .t3-content-block {
  background-color: transparent;
  padding: 0;
}
#fb-root {
  margin-top: 0 !important;
}
.com_weblinks .counter {
  margin-top: 20px;
}
.newsfeed ol li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
}
.k2CategoriesListBlock > ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}
.k2CategoriesListBlock > ul > li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}
.k2CategoriesListBlock > ul > li:first-child {
  padding-top: 0;
}
.k2CategoriesListBlock > ul > li:last-child {
  padding-bottom: 0;
  border: none;
}
.k2AccountPage .admintable {
  display: block;
  overflow-x: auto;
}
.k2AccountPage table.admintable tr td {
  width: 100%;
  padding: 12px;
}
.k2AccountPage table.admintable td.key label {
  margin-bottom: 0;
}
.k2AccountPage table.admintable label.radio {
  margin-left: 20px;
}
.k2AccountPage table.admintable .inputbox.required {
  display: inline-block;
}
.com_community .t3-content {
  z-index: 10;
}
.com_community .t3-content-block {
  padding: 0;
}
.joms-toolbar--desktop .joms-icon {
  margin-bottom: 2px;
}
.joms-focus__header .joms-focus__date span {
  line-height: 0.5;
}
.joms-focus__link a {
  line-height: 1.7;
}
.picker select {
  display: inline-block;
}
.picker th,
.picker td {
  text-align: center;
}
.joms-pagination {
  text-align: center;
}
.joms-pagination .pagination {
  display: inline-block;
}
.joms-form__group .lblradio-block {
  margin-right: 15px;
}
.joms-form__group .lblradio-block:last-child {
  margin-right: 0;
}
.joms-form__group .checkbox {
  display: inline;
}
.module-ct > [class*='joms-list--'] {
  padding-left: 0;
}
.t3-community-toolbar .joms-module--toolbar {
  padding: 4.5px;
}
.t3-community-toolbar .joms-module--toolbar .joms-link__wrapper {
  margin-top: 8px;
}
.t3-community-toolbar .joms-module--toolbar > ul > li > a {
  padding-top: 15px;
  padding-bottom: 16px;
}
.joms-module--toolbar .joms-checkbox input[type="checkbox"] {
  margin-top: 9.5px;
}
.joms-module--toolbar .joms-checkbox span {
  font-size: inherit;
}
.joms-module--toolbar .joms-input--append svg {
  top: 12px !important;
}
.modal-login h3 {
  display: none;
}
.modal-login .modal-footer {
  text-align: center;
}
.modal-login .fb-login-button {
  margin: 0;
}
.modal-login .social-login {
  width: 50%;
}
.com_guru .navbar-form {
  margin: 10px 0 !important;
}
.zone-article-title {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.zone-article-date-time,
.zone-article-author,
.zone-article-category {
  display: inline-block;
  color: #888;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #ddd;
}
.zone-article-category {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
@-ms-viewport {
  width: device-width;
}
.row-fluid:after {
  content: '';
  display: block;
  clear: both;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}